//http://flatcolors.net/palette/749-japanese-film
.page-content {
  background-color: #F0F1F5;
  box-sizing: border-box;
  color: black;
  min-height: 100%;
  padding: 65px 15px 15px;
  width: 100%;
}
