.page-content {
  background-image: linear-gradient(#5861A0, #842FA7), url("/statics/images/content-background.jpg");
  background-blend-mode: color;
  background-size: cover;
  background-position: 50% 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.slider {
  height: 100%;

  .slide::-webkit-scrollbar {
    display: none;
  }

  .slide {
    box-sizing: border-box;
    padding: 20px;
  }
}

h2 {
  font-family: 'League Gothic';
  font-size: 40px;
}

@import 'dashboard';
