//http://flatcolors.net/palette/749-japanese-film
.page-content {
  background-color: #F0F1F5;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 65px 0 0;
  width: 100%;
}
