input[id^="nav-"], input[id*=" nav-"], input[id^="page-"], input[id*=" page-"] {
  display: none;
}

nav.main-menu {
  background-color: #072527;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  @include transition(height, .3s, ease-in-out);
}

#nav-checkbox ~.main-menu {
  > * {
    align-items: center;
    display: none;
    flex-grow: 1;
    justify-content: center;
  }

  .page-item {
    height: 100%;

    i {
      font-size: 22px;
      margin-right: 5px;
    }

    span {
      font-size: 16px;
      margin-top: 5px;
    }
  }

  .nav-open {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#page-dashboard:checked ~.main-menu .page-dashboard {
  display: flex;
}

#nav-checkbox:checked ~ #page-dashboard:checked ~.main-menu .page-dashboard {
  background-color: #0A2037;
}

#page-devices:checked ~.main-menu .page-devices {
  display: flex;
}

#nav-checkbox:checked ~ #page-devices:checked ~.main-menu .page-devices {
  background-color: #0A2037;
}

#page-modes:checked ~.main-menu .page-modes {
  display: flex;
}

#nav-checkbox:checked ~ #page-modes:checked ~.main-menu .page-modes {
  background-color: #0A2037;
}

#nav-checkbox:checked ~.main-menu {
  display: flex;
  height: 100%;
  flex-direction: column;

  .page-item {
    height: auto;
    flex-direction: column;
    i {
      font-size: 40px;
      margin-right: 0;
    }
  }

  > * {
    display: flex;
  }

  .nav-close {
    background: red;
    max-height: 50px;
  }

  .nav-open {
    display: none;
  }
}
