lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results
certs

*.log

test/*.txt

node_modules
npm-debug.log*
.sass-cache
.DS_Store
.env
.shipit.json
.shipit
shipitfile.js

core/ui/statics/*
!core/ui/statics/images/
!core/ui/statics/fonts/
!core/ui/statics/javascript/
