@mixin transition($what: all, $time: 1s, $type: ease-in-out) {
  -webkit-transition: $what $time $type;
  -moz-transition: $what $time $type;
  -o-transition: $what $time $type;
  transition: $what $time $type;
}

@mixin transitions($transitions) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

@mixin transition-many($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin animation($animation, $time: 1s, $normal: normal, $fill: forwards, $timing: ease-in-out) {
  -webkit-animation: $animation $time $normal $fill $timing;
  -moz-animation: $animation $time $normal $fill $timing;
  -o-animation: $animation $time $normal $fill $timing;
  animation: $animation $time $normal $fill $timing;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}));
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
