<div class="retro-button-container">
  {{#each modes}}
    <div class="retro-button-wrapper">
      <input class="retro-button-radio" type="radio" id="{{../name}}{{this._id}}" name="{{../name}}" />
      <label for="{{../name}}{{this._id}}" class="retro-button">
        <div class="retro-button-inner">
          <span class="retro-button-text">
            {{this.name}}
          </span>
        </div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </label>
    </div>
  {{/each}}
</div>
