@import 'reset';

@import 'shared/variables';
@import 'shared/h';

@import 'components/retro-button';
@import 'components/retro-toggle-button';
@import 'components/big-box';
@import 'components/notifier';

@import 'pages/login';

html, body {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  min-height: 100%;
}

.devicelist {
  width: 120px;
  margin: 0 auto;
  .retro-toggle-container {
    display: block;
    margin-bottom: 27px;
  }
}
