<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/statics/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300,400italic,600' rel='stylesheet' type='text/css'>
  </head>
  <body class="time-of-day night">
    {{#block "base_content"}}{{/block}}
  </body>
</html>

<!--<input type="checkbox" id="nav-checkbox" name="nav-checkbox">
<input type="radio" id="page-dashboard" data-load="dashboard" name="pages" checked>
<input type="radio" id="page-devices" data-load="devices" name="pages">
<input type="radio" id="page-modes" data-load="modes" name="pages">

<nav class="main-menu fn-main-menu">
  <label for="nav-checkbox" class="nav-open"></label>
  <label for="page-dashboard" class="page-item page-dashboard">
    <i class="icon-home"></i>
    <span>Dashboard</span>
  </label>
  <label for="page-devices" class="page-item page-devices">
    <i class="icon-power"></i>
    <span>Devices</span>
  </label>
  <label for="page-modes" class="page-item page-modes">
    <i class="icon-view_module"></i>
    <span>Modes</span>
  </label>
  <label for="nav-checkbox" class="nav-close">Close</label>
</nav>
-->
