{{#extend "layout"}}
  {{#content "body"}}
    <div class="login-page">
      <form method="post" action="" class="loginform" id="loginform">
        <h2>Oktav.io Login</h2>
        <p>
          <input type="text" name="username" value="" placeholder="Username">
        </p>
        <p>
          <input type="password" name="password" value="" placeholder="Password">
        </p>
        <p class="submit">
          <input type="submit" name="commit" value="Login">
        </p>
      </form>
    </div>

    <!--
    <div class="big-box">
      <div class="box-item-container">
        <div class="box-item">
          One
        </div>
        <div class="box-item static">
          Two
        </div>
        <div class="box-item static box-temperature">
          <h2>Outside</h2>
          <span>-5°</span>
        </div>
      </div>
    </div>

    <div class="retro-button-container">
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              all off
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              special
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              cinema
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              chill
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              standard
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              all off
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              all off
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
      <div class="retro-button-wrapper">
        <button class="retro-button">
          <div class="retro-button-inner">
            <span class="retro-button-text">
              all off
            </span>
          </div>
          <div class="inner-shadow"></div>
          <div class="outer-shadow"></div>
        </button>
      </div>
    </div>

    <button class="toggle-button">
      <div class="toggle-button-flip">
        <div class="toggle-button-flip-inner"></div>
      </div>
    </button>
  -->

  {{/content}}

  {{#content "javascript"}}
    <script src="/js/login.js"></script>
  {{/content}}
{{/extend}}
