{{#extend "layout"}}
  {{#content "body"}}
    <form method="post" action="" id="loginform">
      <p><input type="text" name="username" value="" placeholder="Username"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>

    <div class="big-box">
      <div class="box-item-container">
        <div class="box-item">
          One
        </div>
        <div class="box-item static">
          Two
        </div>
        <div class="box-item static box-temperature">
          <h2>Outside</h2>
          <span>-5°</span>
        </div>
      </div>
    </div>

    <div class="retro-button-container">
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
      <button class="retro-button">
        <div class="retro-button-inner"></div>
        <div class="inner-shadow"></div>
        <div class="outer-shadow"></div>
      </button>
    </div>

  {{/content}}

  {{#content "javascript"}}
    <script src="/js/login.js"></script>
  {{/content}}
{{/extend}}
