<input type="checkbox" id="nav-checkbox" name="nav-checkbox">
<input type="radio" id="page-dashboard" data-load="dashboard" name="pages" checked>
<input type="radio" id="page-devices" data-load="devices" name="pages">
<input type="radio" id="page-modes" data-load="modes" name="pages">

<nav class="main-menu fn-main-menu">
  <label for="nav-checkbox" class="nav-open"></label>
  <label for="page-dashboard" class="page-item page-dashboard">
    <i class="icon-home"></i>
    <span>Dashboard</span>
  </label>
  <label for="page-devices" class="page-item page-devices">
    <i class="icon-power"></i>
    <span>Devices</span>
  </label>
  <label for="page-modes" class="page-item page-modes">
    <i class="icon-view_module"></i>
    <span>Modes</span>
  </label>
  <label for="nav-checkbox" class="nav-close">Close</label>
</nav>
