.on-off-toggle {
  display: inline-block;

  input {
    display: none;

    &:checked ~label {
      background: #66CC99;

      &:after {
        background-color: darken(#66CC99, 20%);
        left: 30px;
      }
    }
  }

  label {
    background-color: #FC575E;
    border-radius: 15px;
    display: block;
    height: 30px;
    transition: all .5s;
    position: relative;
    width: 60px;

    &:after {
      background-color: darken(#FC575E, 20%);
      border-radius: 15px;
      content: "";
      height: 30px;
      left: 0px;
      position: absolute;
      transition: all .5s;
      width: 30px;
    }
  }
}
