//- index.pug
extends ../base.jade

block title
  title Oktav.IO - Login

block content
  section.dashboard
    h1 Devicelist
    ul.fn-device-list

block javascript
  script(type='text/javascript').
    document.addEventListener('DOMContentLoaded', function (event) {
      require(['/statics/pages/dashboard.min.js'], function (db) {
        db.init();
      });
    });
