{{#extend "base_layout"}}
  {{#content "content"}}
    <!--<section class="device-summary">
      <button>Add device</button>
    </section>-->

    <section class="device-list">
      <ul class="fn-device-list">
      </ul>
    </section>

    <script type="text/template" id="deviceTemplate">
      <span class="device-name fn-device-name"></span>
      <div class="on-off-toggle">
        <input type="checkbox" id="" name="device">
        <label for=""></label>
      </div>
    </script>
    <script data-main="/statics/javascript/pages/devices.js" src="/statics/javascript/vendor/require.js"></script>
  {{/content}}
{{/extend}}
