{{#extend "base_layout"}}
  {{#content "content"}}
    <section class="dashboard-stats">
      <div class="devices">
        <h2>Devices</h2>
        <p>
          <span class="fn-active-devices">0</span> active of <span class="fn-total-devices">0</span>
        </p>
      </div>
      <div class="modes">
        <h2>Modes</h2>
        <p>
          Of <span class="fn-total-modes">0</span> mode(s), the current one active is: <span class="fn-active-mode">None</span>
        </p>
      </div>
    </section>

    <script data-main="/statics/javascript/pages/index.js" src="/statics/javascript/vendor/require.js"></script>
  {{/content}}
{{/extend}}
