{{#extend "base_layout"}}
  {{#content "content"}}

    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at porta purus. Sed neque risus, malesuada et tempus rhoncus, pellentesque a dui. In finibus leo sed ligula sollicitudin, ac lobortis elit pharetra. Proin et eros risus. Praesent finibus eleifend diam, et vulputate nunc laoreet vitae. Suspendisse malesuada, ante sit amet iaculis consequat, mi augue congue nisi, et mollis metus eros ultrices ligula. Etiam egestas consectetur libero, nec euismod ex lacinia sit amet. Aenean est quam, interdum pretium malesuada sed, imperdiet eget sapien. Aliquam semper porttitor rutrum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus vel velit nec feugiat. Donec dui dui, viverra sed augue sed, porta tempor turpis. Nam at diam laoreet, consectetur justo eget, viverra lorem. Maecenas at elementum elit. Nullam non tellus sed erat venenatis volutpat. Proin varius, libero ac lacinia bibendum, arcu quam rhoncus sem, id volutpat sem odio sed neque.

    Nam eleifend elit orci, id rhoncus urna iaculis sit amet. Vestibulum quis lobortis orci. Mauris felis libero, vestibulum vitae massa ut, imperdiet sollicitudin lectus. Maecenas in ligula dui. Etiam id nisl in ante viverra gravida non ut nisi. Morbi sit amet neque in felis pellentesque vestibulum. Donec a tempor ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit ornare varius. Quisque a aliquam tortor. Fusce placerat metus dictum, luctus nulla et, ornare lorem.

    Aliquam vitae libero vel orci mattis gravida. Maecenas iaculis neque volutpat placerat aliquam. Integer ut orci magna. Sed in leo ut justo consequat pretium. Donec in molestie libero. Morbi odio diam, tincidunt non ultrices nec, placerat nec ipsum. Sed viverra venenatis mi, at ornare ante porttitor at. Proin ultrices dapibus mi a accumsan. Nam sed eleifend urna. Aliquam eget turpis ac ante facilisis elementum quis ac arcu. Donec justo nisl, rhoncus eu sollicitudin ut, bibendum sit amet lectus. Quisque sodales molestie odio, eu auctor erat imperdiet non. Cras sit amet magna at odio accumsan posuere et ac elit. Mauris non pharetra enim.

    <script data-main="/statics/javascript/pages/index.js" src="/statics/javascript/vendor/require.js"></script>-->
    
  {{/content}}
{{/extend}}
