//- index.pug
extends ../base.jade

block title
  title Oktav.IO - Login

block content
  section.login
    form.login-form
      p.form-row
        i.icon-envelop
        input(type='text', name='username', placeholder='Username')
      p.form-row
        i.icon-lock
        input(type='password', name='password', placeholder='Password')
      button Log In
