.big-box {
  background: url('/images/box-bg.png');
  border: 1px solid #7e7d77;
  border-bottom: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  height: 150px;
  margin: 100px 100px 20px;
  width: 734px;
}

.box-item-container {
  display: flex;
  height: 100%;

  &:before, &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.box-item {
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex: 1;
  flex-direction: column;
  float: left;
  justify-content: center;
  text-align: center;

  &:first-child {
    border-left: 0;
  }

  &.static {
    max-width: 140px;
  }
}

.box-temperature {

  h2 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
  }

  span {
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
  }

}
