$buttonWidth: 120px;
$buttonHeight: 60px;

.retro-toggle-container {
  background: rgba(119, 118, 114, 1);
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
  height: $buttonHeight;
  padding: 2px;
  width: $buttonWidth;

  input[type=radio] {
    display: none;
  }

  label {
    color: rgba(0, 0, 0, 0.22);
    cursor: pointer;
    display: block;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    transition: all .2s linear;

    span {
      display: inline-block;
      transition: transform .2s linear;
    }
  }

  input ~ label::before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 5px;
    left: 4px;
    width: 90%;
    top: 80%;
    background: #777;
    box-shadow: 0 7px 10px rgb(4, 4, 4);
    transition: all .2s linear;
  }

  input:checked ~ label::before {
    box-shadow: none;
  }

  input.radiooff ~ label {
    background: linear-gradient(135deg, rgba(233, 227, 216, 1) 0%, rgba(216, 210, 189, 1) 100%);
    border-radius: 4px 0 0 4px;
    box-shadow: inset 8px 15px 15px -15px white;

    span {
      transform: rotate(-2deg);
    }
  }

  input.radiooff:checked ~ label {
    background: linear-gradient(135deg, rgba(224, 220, 211, 1) 0%, rgba(228, 222, 212, 1) 100%);
    color: rgba(202, 44, 44, 0.63);

    span {
      transform: rotate(0deg);
    }
  }

  input.radiooff ~ label::before {
    transform: rotate(-7deg);
  }

  input.radioon ~ label {
    background: linear-gradient(135deg, rgba(240, 236, 230, 1) 0%, rgba(224, 221, 212, 1) 100%);
    border-radius: 0 4px 4px 0;
    box-shadow: inset 0px 5px 15px -8px rgba(255,255,255,1);

    span {
      transform: rotate(2deg);
    }
  }

  input.radioon:checked ~ label {
    background: linear-gradient(135deg, rgba(233, 228, 219, 1) 0%, rgba(224, 221, 212, 1) 100%);
    color: rgba(17, 142, 49, 0.63);

    span {
      transform: rotate(0deg);
    }
  }

  input.radioon ~ label::before {
    transform: rotate(7deg);
  }

  &:before, &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.retro-toggle-on, .retro-toggle-off {
  line-height: $buttonHeight - 4;
  height: $buttonHeight - 4;
  float: left;
  position: relative;
  text-align: center;
  width: 50%;
}
