$buttonHeight: 120px;
$buttonWidth: 120px;
$buttonContainerMarginLeft: 100px;
$buttonContainerMarginRight: 100px;
$buttonContainerMarginTop: 0px;
$buttonContainerMarginBottom: 100px;

.retro-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  &:before, &:after {
    clear: both;
    content: "";
    display: table;
  }

  @media screen and (min-width: ((2 * $buttonWidth) + 4px)) and (max-width: (3 * ($buttonWidth + 4px)) + $buttonContainerMarginLeft + $buttonContainerMarginRight) {
    width: (2 * $buttonWidth + 6px);
    .retro-button-wrapper {
      border-radius: 8px;

      &:nth-child(2n+1) {
        border-radius: 8px 0 0 8px;
      }

      &:nth-child(2n+2) {
        border-radius: 0 8px 8px 0;
        width: $buttonWidth + 4;
      }
    }
  }

  @media screen and (min-width: (3 * ($buttonWidth + 4px)) + $buttonContainerMarginLeft + $buttonContainerMarginRight) and (max-width: ((6 * ($buttonWidth + 2px) + 2) + $buttonContainerMarginLeft + $buttonContainerMarginRight) - 1) {
    width: (3 * ($buttonWidth + 4px));

    .retro-button-wrapper {
      &:nth-child(3n+1) {
        border-radius: 8px 0 0 8px;
      }

      &:nth-child(3n+3) {
        border-radius: 0 8px 8px 0;
        width: $buttonWidth + 4;
      }
    }
  }

  @media screen and (min-width: (6 * ($buttonWidth + 2px) + 2) + $buttonContainerMarginLeft + $buttonContainerMarginRight) {
    width: (6 * ($buttonWidth + 2px) + 2);

    .retro-button-wrapper {
      border-radius: 0;

      &:nth-child(6n+1) {
        border-radius: 8px 0 0 8px;
      }

      &:nth-child(6n+6) {
        border-radius: 0 8px 8px 0;
        width: $buttonWidth + 4;
      }
    }
  }
}

.retro-button-wrapper {
  background: rgba(119, 118, 114, 1);
  box-sizing: border-box;
  display: inline-block;
  height: $buttonHeight + 4;
  float: left;
  margin-bottom: 50px;
  padding: 2px 0;
  width: $buttonWidth + 2;

  &:first-child {
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
    padding-right: 2px;
    width: $buttonWidth + 4;
  }
}

input.retro-button-radio {
  display: none;
}

.retro-button {
  background: rgba(238, 235, 229, 1);
  border-left: 2px solid #BFBFBF;
  border-top: 2px solid #BFBFBF;
  border-right: 2px solid #BFBFBF;
  border-bottom: 3px solid rgba(208, 199, 179, 1);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  //float: left;
  height: $buttonHeight;
  margin-left: 2px;
  outline: none;
  padding: 6px;
  position: relative;
  transition: all .2s;
  width: $buttonWidth;

  .retro-button-inner {
    background: linear-gradient(to bottom, rgba(229,225,217,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: $buttonHeight / 2;
    height: $buttonHeight - 20;
    margin: 2px;
    pointer-events: none;
    position: relative;
    transition: all .2s;
    width: $buttonWidth - 20;

    .retro-button-text {
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.22);
      display: block;
      font-family: 'Open Sans';
      font-size: 12px;
      font-weight: 700;
      padding: 0 10px;
      text-align: center;
      text-transform: uppercase;
      transition: all .2s ease;
      width: $buttonWidth - 20;
      word-break: break-all;

      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
    }
  }

  .outer-shadow, .inner-shadow {
    bottom: 0;
    box-shadow: none;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
  }

  .inner-shadow {
    border-radius: 4px;
    opacity: 0;
    overflow: hidden;
    transition: opacity .2s;
  }

  .outer-shadow {
    box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.34);
    transition: box-shadow .2s linear;
  }
}

input.retro-button-radio:checked ~ label, .retro-button:active {
  border-bottom: 3px solid #9E9595;
  border-right: 2px solid #6c6c6c;
  border-top: 2px solid #6c6c6c;
  border-left: 2px solid #6c6c6c;
  height: $buttonHeight - 2;
  width: $buttonWidth - 2;
  margin-left: 3px;
  margin-right: 1px;
  margin-top: 1px;

  .retro-button-text {
    bottom: -43px;
    left: -1px;
  }

  .retro-button-inner {
    height: $buttonHeight - 22;
    margin-top: 0;
    width: $buttonWidth - 22;
  }

  .inner-shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(64, 64, 64, 0.14) 15%, rgba(16, 16, 16, 0.05) 100%);
    opacity: 1;
  }

  .outer-shadow {
    box-shadow: none;
  }
}
