{{#extend "base"}}
  {{#content "base_content"}}
    <section class="login-page">

      <h1>Oktav.IO Login</h1>

      <form method="post" id="login-form">
        <div>
          <input type="text" name="username" id="username" required>
          <label for="username">Username</label>
        </div>
        <div>
          <input type="password" name="password" id="password" required>
          <label for="password">Password</label>
        </div>

        <button>Login</button>
      </form>
    </section>
  {{/content}}
{{/extend}}
