{{#extend "base"}}
  {{#content "base_content"}}
    <div class="login-page">

      <header>
        <h1>OKTAV.IO Login</h1>
      </header>
      
      <section>
        <form method="post" id="login-form">
          <div>
            <input type="text" name="username" id="username" required>
            <label for="username">Username</label>
          </div>
          <div>
            <input type="password" name="password" id="password" required>
            <label for="password">Password</label>
          </div>

          <button>Login</button>
        </form>
      </section>
    </div>

    <script data-main="/statics/javascript/pages/login.js" src="/statics/javascript/vendor/require.js"></script>
  {{/content}}
{{/extend}}
