// Lets reset some CSS first
@import 'reset';

// Load in some variables and other shared css
@import 'shared/variables';
@import 'shared/fonts';

// Mixins
@import 'mixins/transitions';

// Components
//@import 'components/notifier';
//@import 'components/slider';
//@import 'components/hamburgler';
@import 'components/on-off-toggle';

// Layout
@import 'layout/layout';
@import 'layout/navigation';
//@import 'layout/time-of-day';

// Page specific
@import 'pages/login';
@import 'pages/devices';
@import 'pages/debug';

// Vendors
@import 'vendor/hljs/solarized-dark';

html, body {
  box-sizing: border-box;
  color: black;
  display: flex;
  font-family: 'Myriad Pro Regular';
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
}

code {
  font-family: 'Droid Sans Mono';
  font-size: 12px;
  white-space: pre-wrap;
  word-break: break-word;
}
