// Lets reset some CSS first
@import 'reset';

// Load in some variables and other shared css
@import 'shared/variables';
@import 'shared/fonts';

// Components
@import 'components/notifier';
@import 'components/slider';

// Layout
@import 'layout/layout';

// Page specific
@import 'pages/login';


html, body {
  box-sizing: border-box;
  color: white;
  font-family: 'Myriad Pro Regular';
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
