{{#extend "base_layout"}}
  {{#content "content"}}
    <!--<p>
      Monday
      Month Date, Year
    </p>
    <p>
      Current Active Mode: None
    </p>
    <p>
      Devices Active: 1 () 10
    </p>-->


    <div class="slider slide-num-10">
      <input type="radio" name="slides" id="slide-0" checked>
      <input type="radio" name="slides" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <input type="radio" name="slides" id="slide-6">
      <input type="radio" name="slides" id="slide-7">
      <input type="radio" name="slides" id="slide-8">
      <input type="radio" name="slides" id="slide-9">

      <div class="controls">
        <label for="slide-0"></label>
        <label for="slide-1"></label>
        <label for="slide-2"></label>
        <label for="slide-3"></label>
        <label for="slide-4"></label>
        <label for="slide-5"></label>
        <label for="slide-6"></label>
        <label for="slide-7"></label>
        <label for="slide-8"></label>
        <label for="slide-9"></label>
      </div>

      <div class="slides-container">
        <div class="inner">
          <div class="slide slide-0">1</div>
          <div class="slide slide-1">2</div>
          <div class="slide slide-2">3</div>
          <div class="slide slide-3">4</div>
          <div class="slide slide-4">5</div>
          <div class="slide slide-5">6</div>
          <div class="slide slide-6">7</div>
          <div class="slide slide-7">8</div>
          <div class="slide slide-8">9</div>
          <div class="slide slide-9">10</div>
        </div>
      </div>
    </div>

    <!--DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />
    DAS PAGE <br />-->
  {{/content}}
{{/extend}}
