{{#extend "base_layout"}}
  {{#content "content"}}
    <!--<p>
      Monday
      Month Date, Year
    </p>
    <p>
      Current Active Mode: None
    </p>
    <p>
      Devices Active: 1 () 10
    </p>-->
    <div class="slider" data-slides="3">
      <input type="radio" name="slides" id="slide-0" checked>
      <input type="radio" name="slides" id="slide-1">
      <input type="radio" name="slides" id="slide-2">

      <div class="controls">
        <label for="slide-0"></label>
        <label for="slide-1"></label>
        <label for="slide-2"></label>
      </div>

      <div class="slides-container">
        <div class="inner">
          <div class="slide slide-0 dashboard">
            {{> "dashboard/dashboard"}}
          </div>
          <div class="slide slide-1 devices">
            <h2>Devices</h2>
          </div>
          <div class="slide slide-2 modes">
            <h2>Modes</h2>
          </div>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}
