.debug-header {
  flex: 0;
}

.debug-section {
  background-color: #002b36;
  flex: 1;
  overflow: auto;

  pre {
    cursor: pointer;
  }
}

.debug-footer {
  flex: 0;
  height: 50px;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  input {
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    line-height: 50px;
    margin: 0;
    padding: 0 45px 0 15px;
    width: calc(100% - 60px);
  }

  button {
    background: green;
    border: 0;
    box-sizing: border-box;
    color: white;
    float: right;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 60px;
  }
}

.debug-fullsize-message {
  background: white;
  color: black;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 10;

  &.open {
    display: block;
  }
}
