.device-summary {
  background-color: lighten(#072527, 3%);
  border-radius: 0 0 7px 7px;
  height: 200px;
  margin: -15px 0 15px;

  button {
    border: 1px solid #34495E;
    border-radius: 7px;
    background: none;
    color: gray;
    font-size: 16px;
    padding: 10px 15px;
  }
}

.device-list {
  //margin: 0 -15px;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    padding: 20px 10px;
    border-bottom: 1px solid #e4e4e4;

    & > span {
      float: left;
      line-height: 30px;
    }

    & > div {
      float: right;
    }
  }
}
